<app-header></app-header>
<br><br>
<div class="container">
  
  <div class="card-deck my-4" *ngFor="let item of items; index as i ">

    <div class="card ">
      <!-- <img class="card-img-top" src="../../assets/landscape.jpg" alt="Card image cap"> -->
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little
          bit longer.</p>
          <p class="card-text">Department</p>
          <p class="card-text"><small class="text-muted">No. of registrations 100</small></p>
          <p class="card-text"><small class="text-muted">No. of Credits 500</small></p>
      </div>
      <div class="card-footer text-right">
        <a href="#" class="btn btn-primary mx-2">Update</a>
        <a href="#" class="btn btn-danger">Delete</a>
      </div>
      
    </div>
    
    <!-- <div class="card">
      <img class="card-img-top" src="../../assets/landscape.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div> -->
    <!-- <div class="card ">
      <img class="card-img-top" src="../../assets/landscape.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer
          content than the first to show that equal height action.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div> -->
   
  </div>
</div>

<app-footer></app-footer>